html,
body {
  height: 100%;
  background-color: #636398;
}
h1 {
  margin: 0;
  padding: 0;
}

.container {
  width: 700px;
  padding: 0;
  margin: 0 auto;
  margin-top: 50px;
}

.container-bg {
  border: 1px solid grey;
  border-radius: 5px;
}

.twitch-header {
  color: white;
  height: 100px;
  position: relative;
}

.twitch-header i {
  position: relative;
  float: left;
  line-height: 100px;
}
.twitch-content {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.twitch-content h1 {
  line-height: 100px;
}
p {
  margin: 0;
  padding: 0;
}

.action-button {
  padding: 10px;
  text-align: center;
  background-color: #636398;
}

.action-button a {
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.action-button a:hover {
  color: #e6e2d3;
}

.action-button li {
  padding: 10px;
  list-style: none;
  display: inline-block;
}
.action-button ul {
  margin: 0;
  padding: 0;
}

.card {
  padding: 10px;
  border: 1px solid grey;
  overflow: hidden;
}

#streamList {
  margin-top: 10px;
}

#streamList li {
  border: 1px solid #dedede;
  display: inline-block;
  list-style: none;
  padding: 5px;
  width: 100%;
}
#streamList li img {
  float: left;
  width: 50px;
  height: 50px;
}

#streamList li h4 {
  float: left;
  margin-left: 10px;
}

.streamLogo {
  width: 50px;
  height: 50px;
  float: left;
}

.streamTitle {
  padding-left: 10px;
  float: left;
}

.is-active {
  color: #e6e2d3 !important;
}
.notification {
  background-color: orange;
}

.online {
  background-color: #b5e7a0;
}

.offline {
  background-color: #eca1a6;
}

.streamStatus {
  float: right;
}
