html,
body {
    height: 100%;
}

.container {
  width: 700px;
  margin: 0 auto;
  margin-top: 50px;
}

.action-button li {
  list-style: none;
  display: inline-block;
}
.action-button ul {
  margin: 0;
  padding: 0;
}

#streamList {
  margin-top: 10px;
}
#streamList li {
  border: 1px solid #dedede;
  display: inline-block;
  list-style: none;
  padding: 5px;
  width: 100%;
}
#streamList li img {
  float: left;
  width: 50px;
  height: 50px;
}

#streamList li h4 {
  float: left;
  margin-left: 10px;
}

.notification {
  background-color: orange;
}

.online {
  background-color: green;
}

.offline {
  background-color: pink;
}
